<nav id="navbar">
    
    <a href="/Writeups" class="btn" {% if page.url == "/" %}style="color: #ff5722;"{% endif %}>
        Home
    </a>
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    
</nav>


{{ site.time }}
---------
{{ site.pages }}
---------
{{ site.posts }}
---------
{{ site.related_posts }}
---------
{{ ssite.static_files }}
---------
{{ site.html_pages }}
---------
{{ site.html_files }}
---------
{{ site.collections }}
---------
{{ site.time }}
---------
{{ site.time }}
---------
{{ site.time }}
---------
{{ site.time }}
---------
{{ site.time }}