---
---
$section-headings-color: #920be0 !default;

@import "{{ site.theme }}";


details { cursor: text; }
summary { cursor: pointer; }

#navbar {
    position: sticky;
}

#footer-id{
    position: relative;
    bottom: 0%;
    width: 100%;
}